* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  height: 5rem;
  padding: 0 2rem;
}

.logo-image img {
  height: 5rem;
  width: 10rem;
}
